<div class="content">
  <div class="contact">
    <div class="container">

      <div class="contact-in wow bounceIn" data-wow-delay="0.4s">
        <div class=" col-md-4 contact-inline">
          <!-- <img src="images/cont.jpg" style="max-width:100%"  />-->
          <h2>Call Us</h2>
          <ul class="list-inline-custom contact-ul">
            <li><span>Love Kumar Soni:</span><span> +91-9899912536</span></li>
            <li><span>Manish:</span><span>+91-9416024785</span></li>
            <li><span>Umesh:</span><span>+91-9818470814</span></li>
            <li><span>Sudesh Dwivedi:</span><span>+91-9650132671</span></li>
          </ul>
        </div>
        <div class=" col-md-8 contact-left">
          <h5>Contact Us</h5>
          <%= form_for(@contact_request) do |f| %>
            <div class="grid-contact">
              <div class="col-md-4 contact-grid">
                <p class="your-para">Your Name</p>
                <%= f.text_field :name, onfocus: "this.value='';", onblur: "if (this.value == '') {this.value ='';}" %>
              </div>
              <div class="col-md-4 contact-grid">
                <p class="your-para">Your Email</p>
                <%= f.text_field :email, onfocus: "this.value='';", onblur: "if (this.value == '') {this.value ='';}" %>
              </div>
              <div class="col-md-4 contact-grid">
                <p class="your-para">Your phone number</p>
                <%= f.text_field :phone_number, onfocus: "this.value='';", onblur: "if (this.value == '') {this.value ='';}" %>
              </div>
            </div>
            <p class="message-para">Your Message</p>
            <%= f.text_area :message, cols: "77", rows: "6", onfocus: "this.value='';", onblur: "if (this.value == '') {this.value = '';}" %>
            <div class="send">
              <input type="submit" id="sendsub" value="Send" name="submit">
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>