<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/head' %>
  </head>
  <body>
    <%= render partial: 'shared/top_navbar' %>
    <div class="container" style="margin-top: 100px; margin-bottom: 30px;">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
        </div>
      </div><!--/row-->
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div>
    </div> <!-- /container -->
    <%= render partial: 'shared/footer' %>
    <%= javascript_include_tag "application" %>
    <%= yield :extra_js %>
  </body>
</html>
